@font-face{
    font-family: 'Sequel 95';
    src:url('fuentes/Sequel 100 Wide 95.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face{
font-family: 'Sequel 65';
    src:url('fuentes/Sequel 100 Black 65.ttf');
    font-weight: normal;
    font-style: normal;
}

    @font-face{
        font-family: 'Sequel Sans';
            src:url('fuentes/Sequel Sans Book.ttf');
            font-weight: normal;
            font-style: normal;
        }
section, article, header, footer {
            margin-bottom: 30px; 
}

body {
  background-color: black;
  padding: 20px;
    box-sizing: border-box;
}

h1 {color: white;
    background-color: black;
    font-family: 'Sequel 95';
    font-weight: bold;
    align-items: center;
    font-size: x-large;

}

h3 {color: white;
    background-color: black;
    font-family: 'Sequel 65';
    font-weight: bold;
    margin-bottom: 30px;
    

}

p {color: white;

}

div {
    width: 800px;
    max-width: 95%;
    margin: 0 auto;
}

header {
    margin: 6;
    background-color: black;
    min-height: 80px;
    text-align: center;
    padding-top: 20px;
    justify-content: space-around;
}

nav{
    text-align: center;
    font-family: 'Sequel 65';
    font-weight: normal;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    height: 3vh;
    background-position: center;
}

nav a{
    color: black;
    padding: 25px;
}

.article0 {
    padding: 5px;
    margin: 5px;
    margin-bottom: 80px; 
}

article{
    background-color: black ;
    padding: 5px;
    margin: 5px;
    margin-bottom: 100px;
}

footer {
    color: white;
    background-color: black;
    padding: 50px;
    text-align: center;
    font-family: 'Sequel 65';
    font-weight: normal;
}

p{
    font-family: 'Sequel Sans';
    font-weight: normal;
}

.destaca-rojo {
    color: red;
}

.centrada{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.adaptable {
    width: 100%;
    height: auto;
}

a {
position: relative;
text-decoration: none;
color: white;
letter-spacing: 0.5px;
}



a:not(.normal):after {
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 13px;
    border-radius: 1px;
  }
  
  a:not(.normal):hover:after {
    width: 100%;
  }



    html {
        scroll-behavior: smooth;
    }

    article a p{
        text-decoration: none;
        padding: 1px;
        display: inline-block;
    }

    article a p:hover {
        color: black;
        background-color: white;
        }

 img {
    width: 100%;
    height: auto;
    object-fit: cover;
 }

    .galeria {
        width: 100%;
        max-width: cover;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 70px;
    }

    .galeria img {
        height: 100%;
    }

    figure{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
    }

    figure a {
        background-color: black;
        padding: 15px;
        display: inline-block;
        border-radius: 10px;
    }

    figure a img:hover {
        box-shadow: 0 0 10px white;
    }
    
    img.centrada {
        width: 100%;
        max-width: 150px;
        height: auto;
        display: block;
        border-radius: 8px;
    }
    
    figcaption {
        font-family: 'Sequel Sans', sans-serif;
        font-weight: normal;
        color: white;
        margin-top: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        padding: 5px;
        box-sizing: border-box;
    }

    @media (max-width: 600px) {

        h1{
            font-size: medium;
        }

        nav a{
            padding: 26px;
            font-size: xx-small;
            position: relative; top: -3px;
        }

        figcaption {
                font-size: small;
                margin-top: 2px;
                padding: 1px;
              }

        a:not(.normal):after {
                height: 2px;
                width: 0;
                left: 0;
                bottom: 12px;
                border-radius: 1px;
              }

       h3 {
        font-size: 12px;
       }

       p{
        font-size: 10px;
       }

       .galeria {
          grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));

       }

       footer {
        padding: 1px;
        text-align: center;
        font-weight: normal;
    }

    }
